<h3 class="card-group">Make payment and Fill the Order Form</h3>
    <br>
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bank Transfer</h5>
            <p class="card-text">Name: Bhupendra prasad Bhat</p>
            <p class="card-text">Account No: 00000000001111</p>
            <p class="card-text">Branch: Dhangadhi</p>
            <h5 class="card-title">Esewa</h5>

            <p class="card-text">Name: Bhupendra prasad Bhat</p>
            <p class="card-text">Phone No: 9815602427</p>
            <h5 class="card-title">Khalti</h5>

            <p class="card-text">Name: Bhupendra prasad Bhat</p>
            <p class="card-text">Phone No: 9815602427</p>

            <p class="card-text">
                <mark>Please dont mention crypto, funding, etc during payment.</mark>
            </p>
          </div>
        </div>
      </div>
    <br>