<h3 class="card-group">Read Carefully</h3>
    <br>
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">About App</h5>
            <p class="card-text">This app is made just for learning purpose by IT stdents.</p>
            <p class="card-text">This app is only avilible for few friends.<mark> We dont take payment from third/unknown person.</mark></p>
            <p class="card-text">Do your own research Before Investemt.</p>
            <p class="card-text">We arent responsable for the loss of money during pament process.</p>
            <p class="card-text">Befor making payment. Please contact bhupendra.bhat.75(fb), 9815602427(whatsapp),bhupedra420110bhat@gamil.com(gamil)</p>
            <p><mark>The app is under Developing..</mark></p>
            <p class="card-text">
                <mark>You will get order no and redeem code after the order is sucessefully varified by the admin.</mark>
            </p>
            <p class="card-text">
                <mark>Please dont mention crypto, funding, etc during payment.</mark>
            </p>
          </div>
        </div>
      </div>
    <br>